.nav-wrapper {
  margin-left: 2rem;
  margin-right: 2rem;
}

.w100 {
  width: 100%;
}

.btn-hvr:hover {
  transition: 0.3s ease;
  background-color: #7b1fa2;
}

.card_balance {
  font-size: 3rem;
  line-height: 40%;
}

.card_text {
  font-size: 18px;
}

.pb100 {
  padding-bottom: 100px;
}

.flex {
  display: flex;
}

.amount-input {
  font-size: 3rem!important;
}

.jcsb {
  justify-content: space-between;
}

.w50 {
  width: 50%!important;
}
